
SynchronizationConstructs/.vs/SynchronizationConstructs/v16/Server/sqlite3/db.lock
SynchronizationConstructs/.vs/SynchronizationConstructs/v16/.suo
SynchronizationConstructs/.vs/SynchronizationConstructs/v16/Server/sqlite3/storage.ide
SynchronizationConstructs/.vs/SynchronizationConstructs/v16/Server/sqlite3/storage.ide-shm
SynchronizationConstructs/.vs/SynchronizationConstructs/v16/Server/sqlite3/storage.ide-wal
